<section class="hero is-info is-fullheight anisync--background-img">  
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Welcome to AniSync
        </h1>
        <h2 class="subtitle">
          All your anime lists in one place!
        </h2>
        <div class="subtitle">
          <p>Lets get started</p>
        </div>
        <div class="field has-text-centered">
          <p>
            <%= link_to "Log In", new_user_session_path, class: "button is-info" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary" %>            
          </p>
        </div>        
      </div>
    </div>
  </div>
</section>