.hero.is-info.anisync--background-img {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("https://konachan.com/image/e1a9653e38c497938ba79dde658dfd1c/Konachan.com%20-%20243185%20clouds%20kimi_no_na_wa%20knyt%20no_humans%20scenic%20sky%20stars.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}